@tailwind components;
@tailwind utilities;
html {
  overflow: hidden;
  height: 100vh;
  padding: 0%;
}
body{
  margin:0px;
  height: 100vh
}
.inputError {
  @apply border-2 text-red-400 border-red-500;
}
.userButton {
  @apply transition-all duration-500 cursor-pointer text-white p-2 rounded mx-1 border-0 flex justify-center items-center space-x-2 my-1;
}
.half {
  width: 45%;
}
.basicButton{
  @apply p-2 cursor-pointer rounded 
}
input{
  @apply  rounded-xl transition-all duration-500 ease-in-out
}